body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin: 5px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.message-info {
    background-color: rgb(205,222,253);
    color: rgb(85,81,168);
}

.message-success {
    background-color: rgb(207,260,218);
    color: rgb(94,158,115);
}

.message-warning {
    background-color: rgb(252,251,201);
    color: rgb(172,156,66);
}

.message-error {
    background-color: rgb(247,211,215);
    color: rgb(163,72,94);
}