main {
}

.blue-field {
    float: left;
    background: blue;
    width: 25em;
    height: 50em;
}

.white-field {
    margin-left: 25em;
    background-color: white;
    color: white;
    height: 25em;
    width: 50em;
}

.red-field {
    margin-left: 25em;
    background-color: red;
    color: red;
    height: 25em;
    width: 50em;
}

#star-five {
    margin: 50px 0;
    position: relative;
    left: 6em;
    top: 18em;
    display: block;
    color: white;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}
#star-five:before {
    border-bottom: 80px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
#star-five:after {
    position: absolute;
    display: block;
    color: white;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}