main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#day-1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: green;
}

#day-2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: blue;
}

#day-3 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: pink;
}

#map {
    width: 100%;
    height: 700px;
}

.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}